<!DOCTYPE html>
<html>
    <head th:replace="layout :: head"></head>
    <body>
        <header th:replace="layout :: header"></header>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <form th:action="@{/add-project}" method="post" th:object="${project}">
                    <input type="hidden" th:field="*{id}"/>
                    <div>
                        <label>Project Name:</label>
                        <input type="text" th:field="*{name}"/>
                    </div>
                    <div>
                        <label>Project Description:</label>
                        <textarea rows="4" th:field="*{description}"></textarea>
                    </div>
                    <div>
                        <label>Project Status:</label>
                        <div class="custom-select">
                        <span class="dropdown-arrow"></span>
                            <select th:field="*{status}">
                                <option th:value="active">Active</option>
                                <option th:value="archived">Archived</option>
                                <option th:value="not_started">Not Started</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label>Project Roles:</label>
                        <ul class="checkbox-list">
                            <li th:each="role : ${roles}">
                                <input type="checkbox" th:field="*{rolesNeeded}" th:value="${role.id}"/>
                                <span class="primary" th:text=" ${role.name}"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <input type="submit" value="Save" class="button"/>
                        <a th:href="@{|/projects/${project.id}/detail|}" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    <div th:replace="layout :: flash"></div>
    </body>
</html>