<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout :: head"></head>
    <body>
        <header th:replace="layout :: header"></header>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <div class="project-list">
                    <div th:each="project : ${projects}" class="project">
                        <h2><a th:href="@{|/projects/${project.id}/detail|}" th:text="${project.name}"></a></h2>
                        <p th:text="${project.description}"></p>
                        <!--<span class="tag active" th:text="${project.status}">Active</span>-->
                        <span th:classappend="${#strings.toLowerCase(project.status)}" class="tag" th:text="${project.status}"></span>
                    </div>
                </div>
            </div>
        </section>
    <div th:replace="layout :: flash"></div>
    </body>
</html>