<!DOCTYPE html>
<html>
    <head th:replace="layout :: head"></head>
    <body>
        <header th:replace="layout :: header"></header>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <div class="project-list single">
                    <div class="project">
                        <h2 th:text="${project.name}">Website Project</h2>
                        <p th:text="${project.description}">Design and build a custom website</p>
                        <span th:text="${project.status}" th:classappend="${#strings.toLowerCase(project.status)}" class="tag active">Active</span>
                    </div>
                    <div class="roles-collaborators">
                        <h3>Roles &amp; Collaborators</h3>
                        <!--<div th:each="collaborator : ${collaborators}" class="list-item">-->
                            <!--<span th:text="${collaborator.role.name}" class="primary"></span>-->
                            <!--<span th:text="${collaborator.name}" class="secondary"></span>-->
                        <!--</div>-->
                        <div th:each="role : ${roles}" class="list-item">
                            <span th:text="${role.name}" class="primary"></span>
                        </div>
                        <!--<div class="list-item">-->
                            <!--<span class="primary">Designer</span>-->
                            <!--<span class="secondary">Don Gately</span>-->
                        <!--</div>-->
                        <!--<div class="list-item">-->
                            <!--<span class="primary">QA</span>-->
                                <!--<span class="secondary">Joelle Van Dyne</span>-->
                            <!--</div>-->
                        <!--<div class="list-item">-->
                            <!--<span class="primary">DevOps</span>-->
                            <!--<span class="secondary">[Unassigned]</span>-->
                        <!--</div>-->
                    </div>
                    <div class="actions">
                        <a class="button" href="edit_project.html">Edit Project</a>
                        <a class="button" href="project_collaborators.html">Edit Collaborators</a>
                    </div>
                </div>
            </div>
        </section>
    <div th:replace="layout :: flash"></div>
    </body>
</html>