<!DOCTYPE html>
<html>
    <head th:replace="layout :: head"></head>
    <body>
        <header th:replace="layout :: header"></header>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <form th:action="@{|/edit-collaborators/${project.id}|}" method="post" th:object="${project}">
                    <label th:text="|Edit Collaborators: *{name}|"></label>
                    <input type="hidden" th:field="*{id}"/>
                    <ul class="checkbox-list">
                        <li th:each="role : ${roles}"><span class="primary" th:text="${role.name}"></span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select th:field="*{collaboratorsAssigned[__${roleStat.index}__].id}">
                                    <option value="0">[Unassigned]</option>
                                    <option th:each="collaborator : ${role.collaborators}" th:value="${collaborator.id}"
                                    th:text="${collaborator.name}"></option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions">
                        <input type="submit" value="Save" class="button"/>
                        <a th:href="@{|/projects/${project.id}/detail|}" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    <div th:replace="layout :: flash"></div>
    </body>
</html>