<!DOCTYPE html>
<html>
    <head th:replace="layout :: head"></head>
    <body>
        <header th:replace="layout :: header"></header>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <div class="project-list single">
                    <div class="project">
                        <h2 th:text="${project.name}">Website Project</h2>
                        <p th:text="${project.description}">Design and build a custom website</p><br/>
                        <time th:text="|Date Created: ${#dates.format(project.dateCreated, 'dd MMM yyyy')}|"></time>
                        <span th:text="${project.status}" th:classappend="${#strings.toLowerCase(project.status)}" class="tag active">Active</span>
                    </div>
                    <div class="roles-collaborators">
                        <h3>Roles &amp; Collaborators</h3>
                        <div th:each="role : ${roles}" class="list-item">
                            <span th:text="${role.name}" class="primary"></span>
                            <span class="secondary" th:if="${project.collaboratorsAssigned.size() == 0}">
                                [Unassigned]
                            </span>
                            <div th:if="${project.collaboratorsAssigned.size() > 0}">
                                <span th:if="${project.collaboratorsAssigned[__${roleStat.index}__] != null}"
                                      th:text="${project.collaboratorsAssigned[__${roleStat.index}__].name}" class="secondary"></span>
                                <span th:if="${project.collaboratorsAssigned[__${roleStat.index}__] == null}"
                                      class="secondary">
                                    [Unassigned]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <form th:action="@{|/projects/${project.id}/delete|}" method="post" th:object="${project}">
                        <a class="button" th:href="@{|/projects/${project.id}/edit|}">Edit Project</a>
                        <a class="button" th:href="@{|/projects/${project.id}/collaborators|}">Edit Collaborators</a>
                        <input type="submit" class="button" value="Delete"/>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    <div th:replace="layout :: flash"></div>
    </body>
</html>