<!DOCTYPE html>
<html>
    <head th:replace="layout :: head"></head>
    <body>
        <header th:replace="layout :: header"></header>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <form th:action="@{/add-collaborator}" method="post" th:object="${collaborator}" id="add-collaborator-form">
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list">
                        <li th:each="collaborator : ${collaborators}">
                            <a class="primary" th:text="${collaborator.name}" th:href="@{|/collaborators/${collaborator.id}/detail|}"></a>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option th:text="${collaborator.role.name}" value="#"></option>
                                    <option th:if="${!role.name.equals(collaborator.role.name)}" value="#" th:each="role : ${roles}"
                                            th:text="${role.name}"></option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator">
                        <input type="text" placeholder="Name..." th:field="*{name}"/>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select th:field="*{role.id}">
                                <!--<option value="#">Role...</option>-->
                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                        <a class="button" href="#" onclick="document.getElementById('add-collaborator-form').submit()">Add</a>
                    </div>
                </form>
            </div>
        </section>
        <div th:replace="layout :: flash"></div>
    </body>
</html>