<!DOCTYPE html>
<html>
    <head th:replace="layout :: head"></head>
    <body>
        <header th:replace="layout :: header"></header>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <form>
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list">
                        <li>
                            <span class="primary">Michael Pemulius</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#" class="selected">Designer</option>
                                    <option value="#">Developer</option>
                                    <option value="#">QA</option>
                                    <option value="#">DevOps</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <span class="primary">Don Gately</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Designer</option>
                                    <option value="#" class="selected">Developer</option>
                                    <option value="#">QA</option>
                                    <option value="#">DevOps</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <span class="primary">Joelle Van Dyne</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Designer</option>
                                    <option value="#">Developer</option>
                                    <option value="#" class="selected">QA</option>
                                    <option value="#">DevOps</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator">
                        <input type="text" placeholder="Name..."/>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select>
                                <option value="#" class="disabled">Role...</option>
                                <option value="#">Developer</option>
                                <option value="#">Designer</option>
                                <option value="#">QA</option>
                                <option value="#">DevOps</option>
                                <option value="#">Copywriter</option>
                            </select>
                        </div>
                        <a class="button" href="#">Add</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>